@import url('https://fonts.googleapis.com/css2?family=Lora&family=Quicksand:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}
body {
    background: linear-gradient(rgb(32, 36, 43), black);
    font-family: 'Quicksand', sans-serif;
    color:white;
    font-weight: bold;
}
.presentacionNombre {
    height: 90vh;
    display: grid;
    place-items: center;
}
.height {
    height: 100vh;
}
.contenedor img {
    width: 18vw;
    height: 35vh;
    margin: 10px;
    opacity: 70%;
    transform: initial;
    transition: opacity 1s ease;
    transition: transform 1s ease;

}
.contenedor img:hover {
    transition: .4s ease;
    opacity: 100%;
    transform: scale(1.1,1.1);
}

#paginas {
    height: 190vh;
}
.pagina {
    background: linear-gradient(rgb(197, 194, 194), white);
    color: black;
}

.enlaces {
    width: 5vw;
    height: 10vh;
}

